In [2]:
from pykrx import stock
import FinanceDataReader as fdr

In [3]:
# KRX stock delisting symbol list 상장폐지 종목 전체 리스트
krx_delisting = fdr.StockListing('KRX-DELISTING')
krx_delisting

,Symbol,Name,Market,SecuGroup,Kind,ListingDate,DelistingDate,Reason,ArrantEnforceDate,ArrantEndDate,Industry,ParValue,ListingShares,ToSymbol,ToName
0,06031012,3S R,KOSDAQ,신주인수권증서,보통주,2012-05-14,2012-05-21,,NaT,NaT,,0.0,1194422.0,,
1,00684014,AK홀딩스8R,KOSPI,신주인수권증서,보통주,2014-07-28,2014-08-04,,NaT,NaT,,0.0,1278299.0,,
2,13893015,BNK금융지주 8R,KOSPI,신주인수권증서,보통주,2015-12-24,2016-01-05,,NaT,NaT,,0.0,55969410.0,,
3,13893014,BS금융지주5R,KOSPI,신주인수권증서,보통주,2014-06-18,2014-06-25,,NaT,NaT,,0.0,32791220.0,,
4,03204017,C&S자산관리 34R,KOSDAQ,신주인수권증서,보통주,2017-02-02,2017-02-09,,NaT,NaT,,0.0,3995063.0,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3358,034370,럭키소재,KOSPI,주권,,1979-06-23,1991-11-11,해산 사유 발생,NaT,NaT,,NaN,NaN,,
3359,028460,태평양건설,KOSPI,주권,,1977-06-09,1991-10-05,영업활동정지 6월 계속,1991-08-28,1991-10-04,,NaN,NaN,,
3360,028450,금성투자금융,KOSPI,주권,,1986-08-29,1991-09-02,해산 사유 발생,NaT,NaT,,NaN,NaN,,
3361,028440,삼화,KOSPI,주권,,1974-06-12,1991-07-12,감사의견 의견거절,1991-06-05,1991-07-11,,NaN,NaN,,
3362,029260,금성전기,KOSPI,주권,,1976-06-29,1991-06-13,해산 사유 발생,NaT,NaT,,NaN,NaN,,

In [4]:
krx_delisting = krx_delisting[krx_delisting.SecuGroup.isin(['주권'])].reset_index(drop=True)

In [5]:
krx_delisting.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1721 entries, 0 to 1720
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Symbol             1721 non-null   object
 1   Name               1721 non-null   object
 2   Market             1721 non-null   object
 3   SecuGroup          1721 non-null   object
 4   Kind               1721 non-null   object
 5   ListingDate        1721 non-null   datetime64[ns]
 6   DelistingDate      1721 non-null   datetime64[ns]
 7   Reason             1721 non-null   object
 8   ArrantEnforceDate  928 non-null    datetime64[ns]
 9   ArrantEndDate      928 non-null    datetime64[ns]
 10  Industry           1721 non-null   object
 11  ParValue           1672 non-null   float64
 12  ListingShares      1673 non-null   float64
 13  ToSymbol           1721 non-null   object
 14  ToName             1721 non-null   object
dtypes: datetime64[ns](4), float64(2), object(9)
memory usage: 201.8+ KB

In [6]:
start_date = '2000-01-01'
end_date = '20220331'

In [7]:
from tqdm import tqdm
no_data_list = []
for ticker in tqdm(krx_delisting.Symbol):
    try:
        stock.get_market_ohlcv_by_date(fromdate=start_date, 
                                       todate=end_date,
                                       ticker=ticker).to_parquet(f'data_delisted_pykrx/{ticker}.parquet')
    except:
        no_data_list += [ticker]

100%|██████████| 1721/1721 [03:01<00:00,  9.49it/s]

In [16]:
import os
files = [f for f in os.listdir('data_delisted') if len(f)==14] # 종목 데이터만 선택

In [17]:
import pandas as pd
pd.read_parquet(f'data_delisted/{files[0]}')

,Date,Code,Name,Market,SecuGroup,Close,UpDown,Change,ChangeRate,Open,High,Lower,Volume,Amount,MarCap
0,2009-03-19,001047,CJ2우B,KOSPI,주권,32650,0,0,0.00,0,0,0,0,0,33271688650
1,2009-03-18,001047,CJ2우B,KOSPI,주권,32650,0,0,0.00,0,0,0,0,0,33271688650
2,2009-03-17,001047,CJ2우B,KOSPI,주권,32650,0,0,0.00,0,0,0,0,0,33271688650
3,2009-03-16,001047,CJ2우B,KOSPI,주권,32650,0,0,0.00,0,0,0,0,0,33271688650
4,2009-03-13,001047,CJ2우B,KOSPI,주권,32650,0,0,0.00,0,0,0,0,0,33271688650
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,1999-02-04,001047,제일제당(2우B),KOSPI,주권,14600,1,1000,7.35,13600,14600,13600,17050,240588500,13882775000
2496,1999-02-03,001047,제일제당(2우B),KOSPI,주권,13600,2,-1300,-8.72,14800,15000,13600,26780,397083000,12931900000
2497,1999-02-02,001047,제일제당(2우B),KOSPI,주권,14900,1,100,0.68,14800,15000,14800,28480,424696000,14168037500
2498,1999-02-01,001047,제일제당(2우B),KOSPI,주권,14800,2,-200,-1.33,14000,15100,13500,27720,406817000,14072950000
2499,1999-01-29,001047,제일제당(2우B),KOSPI,주권,15000,1,1400,10.29,13600,15300,12000,47560,688146000,14263125000

In [11]:
data = pd.concat([pd.read_parquet(f'data_delisted/{file}') for file in files], axis=0)

In [12]:
data.to_parquet('krx_delisted_pykrx.parquet')

In [13]:
import pandas as pd
data_fdr = pd.read_parquet('krx_delisted.parquet')

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2815404 entries, 0 to 1888
Data columns (total 15 columns):
 #   Column      Dtype
---  ------      -----
 0   Date        datetime64[ns]
 1   Code        object
 2   Name        object
 3   Market      object
 4   SecuGroup   object
 5   Close       float64
 6   UpDown      float64
 7   Change      float64
 8   ChangeRate  float64
 9   Open        int64
 10  High        int64
 11  Lower       int64
 12  Volume      int64
 13  Amount      int64
 14  MarCap      int64
dtypes: datetime64[ns](1), float64(4), int64(6), object(4)
memory usage: 343.7+ MB

In [15]:
data_fdr.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2815404 entries, 0 to 1888
Data columns (total 15 columns):
 #   Column      Dtype
---  ------      -----
 0   Date        datetime64[ns]
 1   Code        object
 2   Name        object
 3   Market      object
 4   SecuGroup   object
 5   Close       float64
 6   UpDown      float64
 7   Change      float64
 8   ChangeRate  float64
 9   Open        int64
 10  High        int64
 11  Lower       int64
 12  Volume      int64
 13  Amount      int64
 14  MarCap      int64
dtypes: datetime64[ns](1), float64(4), int64(6), object(4)
memory usage: 343.7+ MB